.ourContainer {

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.ourHeader {
    background-color: red;
    padding: 20px;
    margin: 20px;
    width : 30%;
    position: absolute;
}

.ourSlide {
    position: relative;
    
}

.ourSlide img{
    width: 100%;
    object-fit: cover;
}

.ourControls {
    padding: 0 20px;
    bottom : 5%;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.ourCtrlBtn {
    background-color: red;
    padding: 2px 10px;  
    user-select: none;
    cursor: pointer;
    line-height: 100%;
}


.ourDot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #444;
    display: inline-block;
    margin: 0 2px;
    opacity: 0.3;
}

.ourDot.active {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 1;
    background-color: red;
}




